/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {color: #ff0000;}

.field-validation-valid{display: none;}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid{display: none;}

.controls{background-color: #dddddd;}

.controls-radio-table{border-collapse:collapse; }

.controls-radio-table td.middle {border-width: 1px 0 0 0; margin-top: 5px; padding-top: 2px;
    border-style: solid; border-color: gray; }

.div-float-left {float: left; margin-right: 10px;}

.div-float-right {float: right; margin-left: 10px;}

.job-search-box {max-width: 100px;}

.dateTimeField  {max-width: 80px;   }

ul {list-style-type: none; margin: 0 0 0 0;  padding: 0 0 0 0;}

fieldset.controls-fieldset{height: 120px;}

.padding-left{padding-left: 2px;}

li {margin-top: 2px;}

.data-button {margin-top: 10px; min-width: 120px;}

.jobSelectorDropdown {width: 200px;}

.jobTable {border-collapse: collapse;}
.jobTable td, th {border-width: 1px 1px 1px 1px; padding: 5px 5px 5px 5px; border-style: solid; border-color: gray; }
.jobTable th {background-color: #dddddd;}